.container {
  display: flex;
  justify-content: center;

  mat-card {
    flex: 0.5;

    mat-card-title {
      align-items: center;
      display: flex;

      img:hover {
        cursor: pointer;
      }
    }

    .row {
      padding: 2vh 0;

      span {
        font-weight: bold;
      }
    }
  }
}
