<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img
          src="assets/images/baseline_arrow_back_ios_black_18dp.png"
          (click)="goBack()"
        />
        {{ secret?.name ? secret?.name : errorMessage }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row"><span>Id: </span>{{ secret?.id ? secret?.id : "" }}</div>

      <div class="row">
        <span>Text: </span
        >{{
          secret?.allowExport
            ? secret?.text
            : "-" + (secret?.allowExport ? secret?.allowExport : "")
        }}
      </div>

      <div class="row">
        <span>Created At: </span
        >{{ secret?.createdAt ? secret?.createdAt : "" }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
